@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
	<!-- CONTENT -->
	<section id="content">
		<!-- MAIN -->
		<main>
			<!-- Title -->
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right'></i></li>
						<li>
							<a class="active" href="#">Collections</a>
						</li>
					</ul>
				</div>
				<a href="#" class="btn-download">
					<i class='bx bxs-cloud-download'></i>
					<span class="text">Download</span>
				</a>
			</div>

			<!-- Overall infor -->
			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check'></i>
					<span class="text">
						<h3>1020</h3>
						<p>Projects</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group'></i>
					<span class="text">
						<h3>39.072</h3>
						<p>Unique Owners</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-dollar-circle'></i>
					<span class="text">
						<h3>$9.650.435</h3>
						<p>Total Sales</p>
					</span>
				</li>
			</ul>

			<!-- Main data -->
			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Top Ranking</h3>
						<i class='bx bx-search'></i>
						<i class='bx bx-filter'></i>
					</div>
					<table>
						<thead>
							<tr>
								<th>Project</th>
								<th>Ranking</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<img src="img/BAYC.webp">
									<p>Bored Ape Yatch Club</p>
								</td>
								<td>1</td>
								<td><span class="status pending">100</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/DG.webp">
									<p>DeGod</p>
								</td>
								<td>2</td>
								<td><span class="status process">97</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/MM.webp">
									<p>Milady Maker</p>
								</td>
								<td>3</td>
								<td><span class="status completed">91</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/RRB.webp">
									<p>Redacted Remilio Babies</p>
								</td>
								<td>4</td>
								<td><span class="status completed">85</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/MAYC.webp">
									<p>Mutant Ape Yatch Club</p>
								</td>
								<td>5</td>
								<
								<td><span class="status completed">75</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="order">
					<div class="head">
						<h3>Top Ranking</h3>
						<!-- <i class='bx bx-search'></i>
						<i class='bx bx-filter'></i> -->
					</div>
					<table>
						<thead>
							<tr>
								<th>Project</th>
								<th>Ranking</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<img src="img/BAYC.webp">
									<p>Bored Ape Yatch Club</p>
								</td>
								<td>6</td>
								<td><span class="status completed">70</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/DG.webp">
									<p>DeGod</p>
								</td>
								<td>7</td>
								<td><span class="status completed">65</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/MM.webp">
									<p>Milady Maker</p>
								</td>
								<td>8</td>
								<td><span class="status completed">63</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/RRB.webp">
									<p>Redacted Remilio Babies</p>
								</td>
								<td>9</td>
								<td><span class="status completed">57</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/MAYC.webp">
									<p>Mutant Ape Yatch Club</p>
								</td>
								<td>10</td>
								<
								<td><span class="status completed">49</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- <div class="todo">
					<div class="head">
						<h3>Todos</h3>
						<i class='bx bx-plus'></i>
						<i class='bx bx-filter'></i>
					</div>
					<ul class="todo-list">
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded'></i>
						</li>
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded'></i>
						</li>
						<li class="not-completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded'></i>
						</li>
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded'></i>
						</li>
						<li class="not-completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded'></i>
						</li>
					</ul>
				</div> -->
				<a href="#" class="btn-viewall">
					<span class="text">View All Listed Project</span>
				</a>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->


	<script src="script.js"></script>
</body>

</html>