@page
@model LaClient.Pages.ListedTokenModel
@{
}

<style>
    .input-search::placeholder {
        color: rgba(255,255,255,.5);
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 100;
    }

    .btn-search:focus ~ .input-search {
        width: 300px;
        border-radius: 0px;
        background-color: darkgrey;
        border-bottom: 1px solid rgba(255,255,255,.5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

    .input-search:focus {
        width: 300px;
        border-radius: 0px;
        background-color: darkgrey;
        border-bottom: 1px solid rgba(255,255,255,.5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }
    #content .own-main{
        padding: 0px 15px;
    }
    .own-form-input {
        margin-left: 500px;
        width: 100%;
    }
</style>

<section id="content">
    <nav>
        <form action="#">
            <div class="form-input own-form-input">
                <input type="search" id="searchInput" placeholder="Search...">
                <button type="submit" class="search-btn"><i class="fa-sharp fa-solid fa-magnifying-glass fa-beat-fade"></i></button>
            </div>
        </form>
    </nav>
    
    <!-- MAIN -->
    <main class="own-main">
        <!-- Main data -->
        <div class="table-data display-table">
            <div class="order">
                <table>
                    <tbody>
                        @foreach (var nftsCollection in Model.NftsCollectionDTO)
                        {
                            <tr>
                                <td>
                                    <img src="@nftsCollection.image_url">
                                    <a asp-page="DetailedCollection" asp-route-collection="@nftsCollection.id">@nftsCollection.name</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</section>

@section Scripts {
    <script>
        function searchNftsCollection() {
            var input = document.getElementById("searchInput");
            var filter = input.value.toLowerCase();
            var rows = document.getElementsByTagName("tr");

            for (var i = 0; i < rows.length; i++) {
                var nameCell = rows[i].getElementsByTagName("p")[0];
                if (nameCell) {
                    var name = nameCell.textContent.toLowerCase();
                    if (name.includes(filter)) {
                        rows[i].style.display = "";
                    } else {
                        rows[i].style.display = "none";
                    }
                }
            }
        }

        document.getElementById("searchInput").addEventListener("input", searchNftsCollection);
    </script>
}
