@page
@model ListedTokenModel
@{
}

<style>
    .input-search::placeholder {
        color: rgba(255,255,255,.5);
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 100;
    }

    .btn-search:focus ~ .input-search {
        width: 300px;
        border-radius: 0px;
        background-color: darkgrey;
        border-bottom: 1px solid rgba(255,255,255,.5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

    .input-search:focus {
        width: 300px;
        border-radius: 0px;
        background-color: darkgrey;
        border-bottom: 1px solid rgba(255,255,255,.5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }
    #content .own-main{
        padding: 0px 15px;
    }
    .own-form-input {
        margin-left: 400px;
        width: 100%;
    }
</style>

<section id="content">
    <!-- MAIN -->
    <main class="own-main">
        <!-- Main data -->
        <div class="table-data display-table">
            <div class="order">
                <table>
                    <tbody>
                    @foreach (var nftsCollection in Model.NftsCollectionDto)
                    {
                        <tr>
                            <td>
                                <img src="@nftsCollection.image_url">
                                <a asp-page="DetailedCollection" asp-route-collection="@nftsCollection.id">@nftsCollection.name</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</section>

<script>
    // Get the search input element
    const searchInput = document.getElementById('searchInput');

    // Add event listener for input changes
    searchInput.addEventListener('input', function() {
        const searchValue = searchInput.value.toLowerCase();
        const tableRows = document.querySelectorAll('.table-data tbody tr');

        // Iterate through each row
        for (let i = 0; i < tableRows.length; i++) {
            const collectionName = tableRows[i].querySelector('a').innerText.toLowerCase();

            // Show or hide the row based on search results
            if (collectionName.includes(searchValue)) {
                tableRows[i].style.display = '';
            } else {
                tableRows[i].style.display = 'none';
            }
        }
    });
</script>
